.homePageContent {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(3px);
}
.homePageTitle {
  top: 0;
  height: 20%;
  font-family: 'NewsGothicBold';
  font-size: 1.5rem;
  color: #43a5cf;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

.homePageTitle h1 {
  animation-name: show;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0.5px #43a5cf, 0 0 1px #43a5cf, 0 0 1.5px #43a5cf,
      0 0 2px #43a5cf, 0 0 2.5px #43a5cf;
  }

  100% {
    text-shadow: 0 0 2px #43a5cf, 0 0 3px #43a5cf, 0 0 5px #43a5cf,
      0 0 7px #43a5cf, 0 0 9px #43a5cf;
  }
}

.homePageArticle {
  margin-top: 2rem;
  text-align: center;
  font-family: 'SfDistantGalaxy';
  height: 80%;
}

.homePageArticle p {
  font-weight: lighter;
  font-size: 2rem;
  opacity: 0;
  font-weight: lighter;
  line-height: 3rem;
  animation-name: show;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transform: scale(1, 1.2);
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
