.footer {
  background-color: black;
  color: #eedb00;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Mandalor';
  font-size: 1.5rem;

  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(3px);
}
