.header {
  padding-top: 1rem;

  color: #eedb00;
  margin: 0;
  text-align: center;
  height: 100%;
  font-family: 'SfDistantGalaxy';
  font-weight: lighter;
  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(3px);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.nav ul {
  color: #eedb00;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.nav li {
  font-size: 1.9rem;
  color: #eedb00;
  margin: 0 0.8rem 0.8rem 0.8rem;
}

.nav a {
  text-decoration: none;
  color: #eedb00;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  text-decoration: underline;
  color: #eedb00;
  text-shadow: white;
}

.plusLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
